<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <Platform>ARM</Platform>
        <PublishDir>..\KitX Publish\kitx-win-arm-single\</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <TargetFramework>net6.0</TargetFramework>
        <RuntimeIdentifier>win-arm</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <PublishSingleFile>false</PublishSingleFile>
        <PublishReadyToRun>true</PublishReadyToRun>
        <PublishTrimmed>false</PublishTrimmed>
        <!--<IsBuild4WindowsPlatform>True</IsBuild4WindowsPlatform>-->
        <Is2Publish>True</Is2Publish>
    </PropertyGroup>
</Project>
