<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <Configuration>Debug</Configuration>
        <Platform>ARM</Platform>
        <PublishDir>..\..\..\KitX Publish\kitx-linux-arm-single\</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        
        <RuntimeIdentifier>linux-arm</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <PublishSingleFile>false</PublishSingleFile>
        <PublishTrimmed>false</PublishTrimmed>
        <IsBuild4WindowsPlatform>False</IsBuild4WindowsPlatform>
        <Is2Publish>True</Is2Publish>
        <DisableBeauty>False</DisableBeauty>
    </PropertyGroup>
</Project>
