<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <Platform>ARM64</Platform>
        <PublishDir>..\..\..\KitX Publish\kitx-osx-arm64-single\</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        
        <RuntimeIdentifier>osx-arm64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <PublishSingleFile>false</PublishSingleFile>
        <PublishTrimmed>false</PublishTrimmed>
        <IsBuild4WindowsPlatform>False</IsBuild4WindowsPlatform>
        <Is2Publish>True</Is2Publish>
        <DisableBeauty>True</DisableBeauty>
    </PropertyGroup>
</Project>
