<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <Platform>x64</Platform>
        <PublishDir>..\..\..\KitX Publish\kitx-osx-x64-single-cut\</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <TargetFramework>net7.0</TargetFramework>
        <RuntimeIdentifier>osx-x64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <PublishSingleFile>false</PublishSingleFile>
        <PublishTrimmed>true</PublishTrimmed>
        <IsBuild4WindowsPlatform>False</IsBuild4WindowsPlatform>
        <Is2Publish>True</Is2Publish>
        <DisableBeauty>False</DisableBeauty>
    </PropertyGroup>
</Project>
